---
import SEO from "../components/SEO.astro";
import SVG from "../components/SVG.astro";
import MainLayout from "../layouts/MainLayout.astro";

const skills = [
  // {
  //   name: "HTML",
  //   icon: "html",
  //   rating: 3,
  // },
  // {
  //   name: "CSS",
  //   icon: "css",
  //   rating: 5,
  // },
  {
    name: "JavsScript",
    icon: "js",
    rating: 5,
  },
  {
    name: "React",
    icon: "react",
    rating: 5,
  },
  {
    name: "Angular",
    icon: "angular",
    rating: 4,
  },
  {
    name: "Svelte",
    icon: "svelte",
    rating: 4,
  },
  {
    name: "GO",
    icon: "go",
    rating: 3,
  },
  {
    name: "Rust",
    icon: "rust",
    rating: 2,
  },
  {
    name: "C/C++",
    icon: "c",
    rating: 3,
  },
  {
    name: "C#",
    icon: "csharp",
    rating: 3,
  },
];

const projects = [
  {
    name: "MH",
    description: [
      "A simple web app to journal about your day",
      "Especially annoying for perfectionists",
    ],
    tech: ["Svelte", "Rust", "NGINX", "PostgreSQL"],
    img: "mh.jpeg",
  },
];
---

<MainLayout>
  <SEO
    title="Alvinosh | Full Stack Developer"
    description="Alvinosh's personal website"
    keywords={["landing page", "landing"]}
    slot="head"
  />

  <div class="m-auto w-11/12 md:w-8/12 font-mono">
    <div class="my-20 md:mt-36 flex justify-between">
      <div class="flex flex-col justify-center items-start">
        <h1 class="text-orange text-4xl md:text-6xl">Hello,</h1>
        <h2 class="text-comment text-xl md:text-3xl">
          I am a full-stack software developer
        </h2>
        <!-- <button class="text-comment">contact me</button> -->
      </div>
      <div class="hidden md:block w-1/3">
        <img src="./favicon.svg" alt="" />
      </div>
    </div>

    <div class="w-full mb-12 md:mb-36 flex justify-center">
      <a
        href="#skill"
        class="cursor-pointer p-2 border-2 border-orange text-orange shadow-xl hover:shadow-lg transition-all"
        >Find Out More</a
      >
    </div>
  </div>

  <div id="skill" class="w-screen bg-orange mt-56">
    <div class="m-auto w-11/12 md:w-8/12 font-mono py-32">
      <h1 class="w-full text-center text-background text-3xl md:text-5xl">
        My Skills
      </h1>
      <div class="m-4"></div>
      <div
        class="grid grid-cols-2 sm:grid-cols-4 lg:grid-cols-8 md:gap-6 gap-16 my-10"
      >
        {
          skills.map((skill) => {
            return (
              <div class="p-2 flex flex-col gap-2">
                <p class="w-full text-center text-lg font-extrabold text-background">
                  {skill.name}
                </p>
                <SVG
                  class="w-full stroke-background fill-background"
                  icon={skill.icon}
                />
                <div class="grid grid-cols-5">
                  {Array.from({ length: 5 }, (_, i) => {
                    return (
                      <SVG
                        class={`w-full stroke-background ${
                          i >= skill.rating ? "fill-orange" : "fill-background"
                        }`}
                        icon="star"
                      />
                    );
                  })}
                </div>
              </div>
            );
          })
        }
      </div>
    </div>
  </div>

  <div class="m-auto w-11/12 md:w-8/12 font-mono text-foreground mt-32">
    <h1 class="w-full text-center text-3xl md:text-5xl mb-10">My Projects</h1>
    {
      projects.map((project) => {
        return (
          <div class="flex flex-col lg:flex-row gap-6">
            <div class="my-10">
              <a href="https://alvinosh.com/mh" class="text-4xl underline">
                {project.name}
              </a>
              {project.description.map((desc) => {
                return <h2 class="text-xl">{desc}</h2>;
              })}
              <p class="mt-5 text-comment">Skills: {project.tech.toString()}</p>
            </div>
            <img class="lg:w-1/2" src={`projects/${project.img}`} alt="" />
          </div>
        );
      })
    }
  </div>
</MainLayout>
